.container {
  padding: 0 15px;
  margin: 15px auto;
}

.img {
  cursor: pointer;
  opacity: 0.9;
}

.img:hover {
  opacity: 1;
}

.logout {
  background-color: #dd4b39;
  color: white;
  padding: 8px 15px;
  border: none;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
  opacity: 0.9;
}

.logout:hover {
  opacity: 1;
}
